@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap");
:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --black: #000;
  --border-rad: 1em;
}

body {
  font-family: "Inknut Antiqua", serif;
}

.btn-primary {
  background-color: #fff;
  color: #000;
  border-color: #fff;
}
.btn-primary:hover {
  background-color: gray;
  border-color: #fff;
}

.btn-secondary {
  background-color: gray;
  color: #fff;
  border-color: #fff;
}
.btn-secondary:hover {
  background-color: #fff;
  border-color: var(--black);
  color: var(--black);
}

.contenido {
  height: 92vh;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
