@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap");
:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --black: #000;
  --border-rad: 1em;
}

body {
  font-family: "Inknut Antiqua", serif;
}

.btn-primary {
  background-color: #fff;
  color: #000;
  border-color: #fff;
}
.btn-primary:hover {
  background-color: gray;
  border-color: #fff;
}

.btn-secondary {
  background-color: gray;
  color: #fff;
  border-color: #fff;
}
.btn-secondary:hover {
  background-color: #fff;
  border-color: var(--black);
  color: var(--black);
}

.contenido {
  /* height: 92vh; */
  height: 100vh;
}

.box {
  -webkit-box-shadow: 5px 5px 0px 0px #4e4e4e, 10px 10px 0px 0px #777777,
    15px 15px 0px 0px #d0d0d0, 20px 20px 0px 0px #fff, 25px 25px 0px 0px #fff,
    5px 5px 15px 5px #fff;
  box-shadow: 5px 5px 0px 0px #4e4e4e, 10px 10px 0px 0px #777777,
    15px 15px 0px 0px #d0d0d0, 20px 20px 0px 0px #fff, 25px 25px 0px 0px #fff,
    5px 5px 15px 5px #fff;
  transition: ease-in-out 0.3s;
}

.box:hover {
  -webkit-box-shadow: 5px 5px 0px 0px #4e4e4e, 10px 10px 0px 0px #777777,
    15px 15px 0px 0px #d0d0d0, 20px 20px 0px 0px #fff, 25px 25px 0px 0px #fff,
    5px 5px 15px 5px #fff;
  box-shadow: 0px 0px 0px 0px #4e4e4e, 0px 0px 0px 0px #777777,
    0px 0px 0px 0px #d0d0d0, 10px 10px 0px 0px #fff, 15px 15px 0px 0px #fff,
    5px 5px 15px 5px #fff;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
